<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GeminiApiKey</key>
	<string>AIzaSyC6wWu7Mp-SjfaxdzX-YyqCZ18JftetSzI</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>SplashIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
</dict>
</plist>
